.gift {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 200px;
}

.cover {
  width: 100px;
  height: 25px;
  background-color: #7aa944;
}

.base {
  width: 90px;
  height: 60px;
  background-color: #5c7e32;
}

.tie01 {
  position: absolute;
  width: 15px;
  height: 85px;
  background-color: crimson;
}

.tie02 {
  position: absolute;
  top: 35px;
  width: 90px;
  height: 15px;
  background-color: crimson;
}
